Repository Netcracker/qubership-apihub-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: echo, eslint --fix, dprint fmt, prettier --write

.lintstagedrc:

'*.{ts,tsx,json}':
  - 'echo'

'*.{js,ts,tsx,json,html,md,yaml,yml}':
  - 'echo'

.lintstagedrc.json:

{
  "*.{ts,tsx,json,jsonc,yml,yaml}": ["eslint --fix", "dprint fmt"],
  "*.{js,jsx,mjs,md,html,css,scss,less,graphql}": ["dprint fmt"]
}

.lintstagedrc.yml:

'*.{ts,tsx,json}':
  - 'eslint --fix'

'*.{js,ts,tsx,json,html,md,yaml,yml}':
  - 'prettier --write'

deploy: 8d0d97121b30c8f3acc7f3dce313d9d4da514246
  feature/linter-validation-results/project.json
Due: echo, eslint --fix, dprint fmt, prettier --write

chore: disable more TS checks in super-linter
  .github/super-linter.env
Due: none

feat: add routing to agents-backend
  nginx/nginx.conf.template
Due: none

chore: disable more TS checks in super-linter (#144)
  .github/super-linter.env
Due: none

deploy: adfab89849f01a2cd40bd02ef86abb49ac64969c
  feature/agents-backend-adaptation/project.json
Due: echo, eslint --fix, dprint fmt, prettier --write

[FE] Export of discrepancy analysis results for arbitrary versions
  packages/portal/src/routes/root/PortalPage/VersionPage/ComparisonToolbar.tsx
  packages/portal/src/routes/root/PortalPage/VersionPage/ExportChangesMenu.tsx
Due: echo, eslint --fix, dprint fmt, prettier --write

feat: [FE] Export of discrepancy analysis results for arbitrary versions
  packages/portal/src/routes/root/PortalPage/VersionPage/ComparisonToolbar.tsx
Due: echo, eslint --fix, dprint fmt, prettier --write

deploy: ee05952ed6d1866a17bc037fe5eaa296171361ee
  feature/agents-backend-adaptation/assets/apihub-builder.es-9db9cc14.js.map
  feature/agents-backend-adaptation/project.json
Due: echo, eslint --fix, dprint fmt, prettier --write

deploy: b978f6759d079a55d3acc2ac7e01fa389dabdcae
  feature/agents-backend-adaptation/project.json
Due: echo, eslint --fix, dprint fmt, prettier --write

chore: release start 3.0.4
  package-lock.json
  package.json
Due: echo, eslint --fix, dprint fmt, prettier --write

feat: add location for agents-backend to nging.conf.template
  nginx/entrypoint.sh
Due: none

fix: adaptation to changes in backend authorization (#142)
  packages/portal/src/routes/root/PortalPage/PackageSettingsPage/AccessTokensPackageSettingsTab.tsx
  packages/portal/src/routes/root/PortalPage/PackageSettingsPage/UserPackageAccessControlSettingsTab/UserPackageAccessControlSettingsTab.tsx
  packages/portal/src/routes/root/PortalPage/PackageSettingsPage/UserPackageAccessControlSettingsTab/useUserPackageAccess.ts
  packages/portal/src/routes/root/SettingsPage/SystemAdministratorsTab/SystemAdministratorsTab.tsx
  packages/portal/src/routes/root/SettingsPage/SystemTokensTab.tsx
  packages/portal/src/routes/root/useUsers.ts
  packages/shared/src/hooks/tokens/useTokens.ts
  packages/shared/src/hooks/user-roles/usePermissions.ts
  packages/shared/src/hooks/user-roles/useRoles.ts
Due: echo, eslint --fix, dprint fmt, prettier --write

deploy: 3e6d9bf483ca017895dd61197000da7261b9f100
  develop/assets/apihub-builder.es-9db9cc14.js.map
  develop/project.json
Due: echo, eslint --fix, dprint fmt, prettier --write

deploy: aa0366ef50636bc3e8a6057a3c1b63e7b623e8b6
  feature/export-discrepancy-analysis-results-versions/project.json
Due: echo, eslint --fix, dprint fmt, prettier --write

fix: [FE]Need fix e2e tests
  packages/portal/index.html
Due: echo, dprint fmt, prettier --write

feat(playground): reposition console logs in server hooks
  packages/portal/src/routes/root/PortalPage/VersionPage/OperationContent/Playground/hooks/useServerProcessing.ts
Due: echo, eslint --fix, dprint fmt, prettier --write

fix: [FE]Need fix e2e tests
  .github/super-linter.env
Due: none

deploy: 800c62d32357f646f3abd4853e940030a30f4b9c
  feature/export-discrepancy-analysis-results-versions/project.json
Due: echo, eslint --fix, dprint fmt, prettier --write

fix: [FE] [Part 2] Adaptation to changes in qubership-apihub-backend authorization
  packages/portal/src/routes/root/PortalPage/PackageSettingsPage/PackageSettingsBody.tsx
  packages/portal/src/routes/root/PortalPage/PackageSettingsPage/package-settings.ts
  packages/portal/src/routes/root/PortalPage/PackageSettingsPage/useSidebarItems.ts
Due: echo, eslint --fix, dprint fmt, prettier --write

feat(playground): auto-select newly added server and optimize key handling
  packages/portal/src/routes/root/PortalPage/VersionPage/OperationContent/Playground/CreateCustomServerDialog.tsx
  packages/portal/src/routes/root/PortalPage/VersionPage/OperationContent/Playground/Playground.tsx
Due: echo, eslint --fix, dprint fmt, prettier --write

fix(ci): fix for link-checker workflow Related issue: https://github.com/Netcracker/.github/issues/104
  .github/workflows/link-checker.yaml
Due: echo, eslint --fix, dprint fmt, prettier --write

chore: set release version for dependencies
  package-lock.json
  package.json
Due: echo, eslint --fix, dprint fmt, prettier --write

chore: merge release 3.0.4 to develop
  lerna.json
  package-lock.json
  packages/agents/package.json
  packages/portal/package.json
Due: echo, eslint --fix, dprint fmt, prettier --write

feat(playground): add deferred event dispatch
  packages/portal/src/routes/root/PortalPage/VersionPage/OperationContent/Playground/CreateCustomServerDialog.tsx
Due: echo, eslint --fix, dprint fmt, prettier --write

feat(playground): optimization and dev logging
  packages/portal/src/routes/EventBusProvider.tsx
  packages/portal/src/routes/root/PortalPage/VersionPage/OperationContent/Playground/CreateCustomServerDialog.tsx
  packages/portal/src/routes/root/PortalPage/VersionPage/OperationContent/Playground/hooks/useServerProcessing.ts
Due: echo, eslint --fix, dprint fmt, prettier --write
