Repository Netcracker/qubership-apihub-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: echo, eslint --fix, dprint fmt, prettier --write

.lintstagedrc:

'*.{ts,tsx,json}':
  - 'echo'

'*.{js,ts,tsx,json,html,md,yaml,yml}':
  - 'echo'

.lintstagedrc.json:

{
  "*.{ts,tsx,json,jsonc,yml,yaml}": ["eslint --fix", "dprint fmt"],
  "*.{js,jsx,mjs,md,html,css,scss,less,graphql}": ["dprint fmt"]
}

.lintstagedrc.yml:

'*.{ts,tsx,json}':
  - 'eslint --fix'

'*.{js,ts,tsx,json,html,md,yaml,yml}':
  - 'prettier --write'

feat: review
  packages/agents/src/routes/root/NamespacePage/ServicesPage/ServicesPageBody/package-version-builder-worker.ts
  packages/portal/src/routes/root/PortalPage/package-version-builder-worker.ts
Due: echo, eslint --fix, dprint fmt, prettier --write

refactor(ai-chat): simplify AiAssistant delete cache handling
  packages/portal/src/components/AiAssistantPanel/api/chatCache.ts
  packages/portal/src/components/AiAssistantPanel/api/useDeleteAiChat.ts
Due: echo, eslint --fix, dprint fmt, prettier --write

chore: fix markdownlint
  README.md
Due: echo, dprint fmt, prettier --write

deploy: 1eca66aab03a7f0f8dd1fe25365271275dc58f3e
  feature/ai-assistant-wip/project.json
Due: echo, eslint --fix, dprint fmt, prettier --write

chore: fix json lint
  lerna.json
Due: echo, eslint --fix, dprint fmt, prettier --write

deploy: 208a15357fbd01bb00aecd2a032944e38d9438af
  feature/ai-assistant/project.json
Due: echo, eslint --fix, dprint fmt, prettier --write

fix: [Bug][Security] adopt qubership-apihub-ui Docker container for readOnlyRootFilesystem=true in k8s
  Dockerfile
  Dockerfile.local
Due: none

fix: [Bug][Security] adopt qubership-apihub-ui Docker container for readOnlyRootFilesystem=true in k8s
  nginx/entrypoint.sh
Due: none

style(ai-chat): adjust font weight for message in delete dialog
  packages/portal/src/components/AiAssistantPanel/ui/history/AiAssistantHistoryScreen.tsx
  packages/portal/src/components/AiAssistantPanel/ui/history/DeleteChatDialog.tsx
Due: echo, eslint --fix, dprint fmt, prettier --write

style(ai-chat): update padding in chat card surface
  packages/portal/src/components/AiAssistantPanel/ui/markdown/chatCard.ts
Due: echo, eslint --fix, dprint fmt, prettier --write

style(ai-chat): align code font size with body2 for code block
  packages/portal/src/components/AiAssistantPanel/ui/markdown/AiAssistantMarkdownViewer.tsx
  packages/portal/src/components/AiAssistantPanel/ui/markdown/CodeBlock.tsx
Due: echo, eslint --fix, dprint fmt, prettier --write

fix: [Bug][Security] adopt qubership-apihub-ui Docker container for readOnlyRootFilesystem=true in k8s
  packages/portal/index.html
Due: echo, dprint fmt, prettier --write

fix: cosmetics + base image upgrade
  Dockerfile
  nginx/entrypoint.sh
Due: none

fix: fix bootstrap
  nginx/entrypoint.sh
Due: none

refactor(header): improve layout structure and component organization
  packages/shared/src/components/AppHeader.tsx
  packages/shared/src/icons/LogoIcon.tsx
Due: echo, eslint --fix, dprint fmt, prettier --write

fix: compose bootstrap
  nginx/entrypoint.sh
Due: none

fix: fix compose bootstrap #2
  Dockerfile
  nginx/entrypoint.sh
Due: none

deploy: 3e1d99941cefb9d0c9bca6b1f41b4620c00db398
  bugfix/adopt-container-for-readOnlyRootFilesystem-true/assets/apihub-builder.es-e6e548f3.js.map
  bugfix/adopt-container-for-readOnlyRootFilesystem-true/project.json
Due: echo, eslint --fix, dprint fmt, prettier --write

feat: start builds with relaxed api-processor version validation if migration is in progress (#258)
  package.json
  packages/agents/src/routes/root/NamespacePage/ServicesPage/ServicesPageBody/package-version-builder-worker.ts
  packages/portal/src/routes/root/PortalPage/package-version-builder-worker.ts
Due: echo, eslint --fix, dprint fmt, prettier --write

feat(ai-chat): anchor thinking indicator under last message and add animation
  packages/portal/src/components/AiAssistantPanel/ui/chat/AiAssistantChatScreen.tsx
  packages/portal/src/components/AiAssistantPanel/ui/chat/ChatMessageList.tsx
  packages/portal/src/components/AiAssistantPanel/ui/chat/ThinkingIndicator.tsx
Due: echo, eslint --fix, dprint fmt, prettier --write

chore: set dev version for dependencies
  package.json
Due: echo, eslint --fix, dprint fmt, prettier --write

fix(ai-chat): sync streaming turn ref before post-stream check
  packages/portal/server/README.md
  packages/portal/server/__tests__/ai-chat.spec.ts
  packages/portal/server/mocks/ai-chat/scriptedStreams.ts
  packages/portal/src/components/AiAssistantPanel/streaming/README.md
  packages/portal/src/components/AiAssistantPanel/streaming/turn/streamingTurnPostStream.unit-test.ts
  packages/portal/src/components/AiAssistantPanel/streaming/turn/useStreamingTurn.ts
Due: echo, eslint --fix, dprint fmt, prettier --write

deploy: 258df9d0f6a5d3adf2e03ccd93022b5d777f5420
  feature/ai-assistant/project.json
Due: echo, eslint --fix, dprint fmt, prettier --write

feat(ai-chat): use warning snackbar for incomplete assistant stream
  packages/portal/server/README.md
  packages/portal/server/mocks/ai-chat/scriptedStreams.ts
  packages/portal/src/components/AiAssistantPanel/api/errors.ts
  packages/portal/src/components/AiAssistantPanel/streaming/README.md
  packages/portal/src/components/AiAssistantPanel/streaming/turn/streamingTurnConstants.ts
  packages/portal/src/components/AiAssistantPanel/streaming/turn/useStreamingTurn.ts
Due: echo, eslint --fix, dprint fmt, prettier --write

feat: UI Honey implementation - adaptation for the latest BE changes
  packages/portal/server/README.md
  packages/portal/server/__tests__/ai-chat.spec.ts
  packages/portal/server/createApp.ts
  packages/portal/server/mocks/ai-chat/constants.ts
  packages/portal/server/mocks/ai-chat/ephemeralFileUrl.ts
  packages/portal/server/mocks/ai-chat/scriptedStreams.ts
  packages/portal/server/mocks/ai-chat/types.ts
  packages/portal/server/routers/ai-chat/messages.ts
  packages/portal/server/routers/ai-chat/stream.ts
  packages/portal/server/routers/ephemeral-files/router.ts
  packages/portal/src/components/AiAssistantPanel/api/types.ts
  packages/portal/src/components/AiAssistantPanel/ui/chat/AiAssistantComposer.tsx
  packages/portal/src/components/AiAssistantPanel/ui/markdown/AiAssistantMarkdownViewer.tsx
  packages/portal/src/components/AiAssistantPanel/utils/internalLinkMatcher.ts
Due: echo, eslint --fix, dprint fmt, prettier --write

deploy: 2c0c4c45965866f0d9352eb5e0af230baaa9d9af
  feature/ai-assistant/project.json
Due: echo, eslint --fix, dprint fmt, prettier --write

fix: remove MAX_USER_MESSAGE_LENGTH from AIAssistantComposer for a while
  packages/portal/src/components/AiAssistantPanel/api/types.ts
  packages/portal/src/components/AiAssistantPanel/ui/chat/AiAssistantComposer.tsx
Due: echo, eslint --fix, dprint fmt, prettier --write
