Repository Netcracker/qubership-apihub-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

'*.{ts,tsx,json}':
  - 'eslint --fix'

'*.{js,ts,tsx,json,html,md,yaml,yml}':
  - 'prettier --write'

fix: Version in the Publish Dialog is automatically entered without Revisions Count
  packages/portal/src/routes/root/PortalPage/DashboardPage/PublishPackageVersionDialog.tsx
Due: eslint --fix, prettier --write

Updated definition of requires attention changes
  docs/Portal User Guide.md
Due: prettier --write

docs: update definition of requires attention changes (#94)
  docs/Portal User Guide.md
Due: prettier --write

deploy: 0f70b58244906be6975b3b1b60992ca98e535e65
  develop/project.json
Due: eslint --fix, prettier --write

Experiments
  nginx/nginx.conf.template
Due: none

deploy: 30cb676f9178d5b7a9f375b9a4915d8ff0ae5b04
  feature/http-cache2/project.json
Due: eslint --fix, prettier --write

Keep experiments
  nginx/nginx.conf.template
Due: none

keep calm
  nginx/nginx.conf.template
Due: none

feat: [FE] Change tooltip text for changes requiring attention
  packages/shared/src/entities/change-severities.ts
Due: eslint --fix, prettier --write

fix: [FE] Deprecated Since info is reflected in the wrong column
  packages/portal/src/routes/root/PortalPage/VersionPage/VersionDeprecatedOperationsSubPage/DeprecatedItemsSubTable.tsx
Due: eslint --fix, prettier --write

fix: use fullVersion for document and version export (affects resulting file name)
  packages/portal/src/routes/root/PortalPage/VersionPage/VersionDocumentsSubPage/DocumentActionsButton.tsx
  packages/portal/src/routes/root/PortalPage/VersionPage/VersionPageToolbar.tsx
Due: eslint --fix, prettier --write

feat: more general definition of changes requiring attention in tooltip (#96)
  packages/shared/src/entities/change-severities.ts
Due: eslint --fix, prettier --write

fix: Code review
  packages/portal/src/routes/root/PortalPage/DashboardPage/PublishPackageVersionDialog.tsx
Due: eslint --fix, prettier --write

feat: updated code as per request
  packages/portal/src/routes/root/PortalPage/VersionPage/OperationContent/Playground/CreateCustomServerDialog.tsx
  packages/portal/src/routes/root/PortalPage/VersionPage/OperationContent/Playground/useCustomServersPackageMap.ts
Due: eslint --fix, prettier --write

deploy: 56bff56e8e2a97871b6ee7bc427ed7aa02c83e5d
  bugfix/publish-dialog-version/project.json
Due: eslint --fix, prettier --write

fix: unneeded 'select an operation' message during API operation page reload (#88)
  packages/portal/src/routes/root/PortalPage/VersionPage/useOperation.ts
Due: eslint --fix, prettier --write

chore(code-style): add examples
  .dprint.jsonc
  .editorconfig
  .husky/pre-commit
  .lintstagedrc
  eslint.config.mjs
  formatting-examples/ex-apihub-unformatted.tsx
  formatting-examples/ex-apihub.md
  formatting-examples/ex-apihub.tsx
  formatting-examples/ex-apihub.yaml
  formatting-examples/ex-arrays-objects-types.ts
  formatting-examples/ex.jsonc
  formatting-examples/ex.md
  formatting-examples/ex.tsx
  formatting-examples/ex.yaml
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore(code-style): format with eslint
  formatting-examples/ex-apihub-unformatted.tsx
  formatting-examples/ex-apihub.tsx
  formatting-examples/ex-apihub.yaml
  formatting-examples/ex-arrays-objects-types.ts
  formatting-examples/ex.jsonc
  formatting-examples/ex.tsx
  formatting-examples/ex.yaml
Due: eslint --fix, prettier --write

chore(code-style): format with dprint
  formatting-examples/ex-apihub-unformatted.tsx
  formatting-examples/ex-apihub.md
  formatting-examples/ex-apihub.tsx
  formatting-examples/ex-apihub.yaml
  formatting-examples/ex-arrays-objects-types.ts
  formatting-examples/ex.jsonc
  formatting-examples/ex.md
  formatting-examples/ex.tsx
  formatting-examples/ex.yaml
Due: eslint --fix, prettier --write

fix: add monaco hash
  nginx/nginx.conf.template
  package-lock.json
  package.json
  packages/editor/vite.config.ts
  packages/portal/vite.config.ts
  vite.monaco-hash.ts
Due: eslint --fix, prettier --write

fix: clean
  packages/editor/vite.config.ts
  packages/portal/vite.config.ts
  vite-monaco-worker-hash.ts
Due: eslint --fix, prettier --write
