Repository Netcracker/qubership-apihub-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: echo, eslint --fix, prettier --write

deploy: 05a933a3215ed4197fcb9bee51ba5b9b3ce42753
  feature/headers-hardening/project.json
Due: echo, eslint --fix, prettier --write

chore(code-style): add config for arrays and objects
  eslint.config.mjs
Due: none

chore(code-style): format arrays and objects
  formatting-examples/ex-apihub-unformatted.tsx
  formatting-examples/ex-arrays-objects-types.ts
Due: echo, eslint --fix, prettier --write

fix: Default version was not always listed in the list of available versions.
  packages/portal/src/routes/root/PortalPage/CopyPackageVersionDialog.tsx
  packages/portal/src/routes/root/PortalPage/DashboardPage/PublishDashboardVersionFromCSVDialog.tsx
Due: echo, eslint --fix, prettier --write

fix: Code review
  packages/portal/src/routes/root/PortalPage/CopyPackageVersionDialog.tsx
  packages/portal/src/routes/root/PortalPage/DashboardPage/PublishDashboardVersionFromCSVDialog.tsx
  packages/portal/src/routes/root/PortalPage/VersionPage/VersionOverviewSubPage/OperationGroupsCard/PublishOperationGroupPackageVersionDialog.tsx
Due: echo, eslint --fix, prettier --write

deploy: 1424d0f840329d2f0051c1107ff7d18f80125252
  bugfix/pulbish-default-version/project.json
Due: echo, eslint --fix, prettier --write

Revert "chore: Set version of ADV transformed into monorepo with involved ADM"
  package.json
Due: echo, eslint --fix, prettier --write

Remove unsafe-eval, keep it for Editor only
  nginx/nginx.conf.template
Due: none

deploy: e30c310c25f4c469978d5a5a56d3672f3ea0a239
  feature/headers-hardening/project.json
Due: echo, eslint --fix, prettier --write

fix(new auth): Fixed redundant redirecting to APIHUB Login Page after successfull logging in. Added explanation of redirectUri. Used constant key instead of hardcoded one in useSearchParam
  packages/shared/src/pages/login/api/useLoginUser.ts
  packages/shared/src/pages/login/ui/ExternalAuthControls.tsx
  packages/shared/src/utils/redirects.ts
  packages/shared/src/utils/security.ts
Due: echo, eslint --fix, prettier --write

deploy: 731053cf54a9f366a15deba12a56e513ed77065a
  feature/saml-oidc/project.json
Due: echo, eslint --fix, prettier --write

fix: default version not always listed in the list of available version
  packages/portal/src/routes/root/PortalPage/CopyPackageVersionDialog.tsx
  packages/portal/src/routes/root/PortalPage/DashboardPage/PublishDashboardVersionFromCSVDialog.tsx
  packages/portal/src/routes/root/PortalPage/VersionPage/VersionOverviewSubPage/OperationGroupsCard/PublishOperationGroupPackageVersionDialog.tsx
Due: echo, eslint --fix, prettier --write

deploy: 382d06fb1526314a47b2dc6efa1bd98aa7be9161
  develop/project.json
Due: echo, eslint --fix, prettier --write

fix: add security headers (#102)
  nginx/nginx.conf.template
Due: none

deploy: f8f5181c0bd53b5745623ae6cd273ed81cda12d6
  develop/project.json
Due: echo, eslint --fix, prettier --write

chore: update npm-gitflow version
  package-lock.json
  package.json
Due: echo, eslint --fix, prettier --write

chore: release start
  package.json
Due: echo, eslint --fix, prettier --write

deploy: cf1d0362db692bd57a32d057847a466d42c7b32e
  develop/assets/apihub-builder.es-bf0e6a1e.js.map
  develop/project.json
Due: echo, eslint --fix, prettier --write

chore(code-style): add lint-staged config
  .lintstagedrc.json
Due: echo, eslint --fix, prettier --write

chore(code-style): add dprint config
  .dprint.jsonc
Due: none

chore(code-style): add init configs
  .editorconfig
  .eslintrc.json
  .gitignore
  .husky/pre-commit
  package-lock.json
  package.json
Due: echo, eslint --fix, prettier --write

chore(code-style): add workflow for super linter
  .github/super-linter.env
  .github/workflows/super-linter.yaml
Due: echo, prettier --write

chore(code-style): add workflow for eslint and dprint
  .github/workflows/eslint-dprint.yaml
Due: echo, prettier --write

chore(code-style): remove conflict eslint configs
  .eslintrc.json
Due: echo, eslint --fix, prettier --write

chore(code-style): fix eslint run command
  .github/workflows/eslint-dprint.yaml
Due: echo, prettier --write

chore(code-style): fix build by fixing ignore comment
  packages/shared/src/components/Buttons/MenuButton.tsx
Due: echo, eslint --fix, prettier --write

chore(code-style): separate eslint and dprint jobs
  .github/workflows/eslint-dprint.yaml
Due: echo, prettier --write

deploy: 200adaebed37df353773abb641fdac86ba122b42
  feature/code-style-pilot/assets/MenuButton-ebc2bf8d.js.map
  feature/code-style-pilot/project.json
Due: echo, eslint --fix, prettier --write

Path conditions:
  echo: (any of: *.{ts,tsx,json}) or (any of: *.{js,ts,tsx,json,html,md,yaml,yml})
  eslint --fix: any of: *.{ts,tsx,json}
  prettier --write: any of: *.{js,ts,tsx,json,html,md,yaml,yml}
