Repository Netcracker/qubership-apihub-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: echo, eslint --fix, dprint fmt, prettier --write

.lintstagedrc:

'*.{ts,tsx,json}':
  - 'echo'

'*.{js,ts,tsx,json,html,md,yaml,yml}':
  - 'echo'

.lintstagedrc.json:

{
  "*.{ts,tsx,json,jsonc,yml,yaml}": ["eslint --fix", "dprint fmt"],
  "*.{js,jsx,mjs,md,html,css,scss,less,graphql}": ["dprint fmt"]
}

.lintstagedrc.yml:

'*.{ts,tsx,json}':
  - 'eslint --fix'

'*.{js,ts,tsx,json,html,md,yaml,yml}':
  - 'prettier --write'

check files after unzip
  Dockerfile
Due: none

deploy: 284d6bca5d7d27b8aae866e8abc97f2a5c6aa24b
  bugfix/version-of-ui-is-used/project.json
Due: echo, eslint --fix, dprint fmt, prettier --write

feat: aligned with playwright test
  packages/portal/src/routes/root/PortalPage/VersionPage/OperationContent/Playground/CreateCustomServerDialog.tsx
Due: echo, eslint --fix, dprint fmt, prettier --write

deploy: c71a50d7a93f639d3b026f1a462886a56aa87a5b
  feature/playground-improvements/project.json
Due: echo, eslint --fix, dprint fmt, prettier --write

fix: removed redundant code
  packages/portal/src/routes/root/PortalPage/VersionPage/VersionOperationsSubPage/OperationPreview.tsx
  packages/shared/src/components/Operations/OperationTitleWithMeta.tsx
  packages/shared/src/components/Toolbar.tsx
Due: echo, eslint --fix, dprint fmt, prettier --write

feat(linter): Refactored JsonSourceMap class
  packages/portal/src/utils/json-source-map.ts
Due: echo, eslint --fix, dprint fmt, prettier --write

deploy: 322b5d19c69e3ace718704a18d55b8906ac7a19e
  feature/linter-validation-results/project.json
Due: echo, eslint --fix, dprint fmt, prettier --write

feat(linter): Involved library "yaml" to parse YAML with enumerating lines and positions. Wrapped with YamlSourceMap class with static utilities
  package-lock.json
  package.json
  packages/portal/src/utils/yaml-source-map.ts
Due: echo, eslint --fix, dprint fmt, prettier --write

deploy: 8da19a54d5316a0a3bedf17eb6a638cb20cbc869
  feature/linter-validation-results/project.json
Due: echo, eslint --fix, dprint fmt, prettier --write

test
  Dockerfile
  packages/portal/vite.config.ts
  vite.plugin.mtime.js
Due: echo, eslint --fix, dprint fmt, prettier --write

deploy: b87d7561014ac8205eb399849c5a1f130511fb0b
  bugfix/version-of-ui-is-used/project.json
Due: echo, eslint --fix, dprint fmt, prettier --write

return
  packages/shared/src/utils/version-info.ts
Due: echo, eslint --fix, dprint fmt, prettier --write

deploy: 688b8fed4f5dbe42c9577e48f5613eab592f02ad
  bugfix/version-of-ui-is-used/project.json
Due: echo, eslint --fix, dprint fmt, prettier --write

feat(linter): Globally refactored source mappers. Moved into special directory. Applied design patterns "Factory" and "Strategy"
  packages/portal/src/utils/doc-source-map/doc-source-map.ts
  packages/portal/src/utils/doc-source-map/json-source-map.ts
  packages/portal/src/utils/doc-source-map/yaml-source-map.ts
  packages/portal/src/utils/json-source-map.ts
  packages/portal/src/utils/yaml-source-map.ts
Due: echo, eslint --fix, dprint fmt, prettier --write

deploy: 9a053e13fc78d367aa3fe0f9d2ee3774702aebd3
  feature/linter-validation-results/project.json
Due: echo, eslint --fix, dprint fmt, prettier --write

Cache-Control: "no-store" for index.html
  nginx/nginx.conf.template
Due: none

deploy: 045a8a5db1143e16ae35f02612c8d8c2fd7bbf79
  bugfix/version-of-ui-is-used/project.json
Due: echo, eslint --fix, dprint fmt, prettier --write

Add comment
  Dockerfile
Due: none

deploy: 6a248ee79a19d0abf8f0a5e27c17e55a054cd56d
  bugfix/version-of-ui-is-used/project.json
Due: echo, eslint --fix, dprint fmt, prettier --write

fixed nginx
  nginx/nginx.conf.template
Due: none

deploy: 27ece646db325b095532dafd0e880b40fb9749c7
  bugfix/version-of-ui-is-used/project.json
Due: echo, eslint --fix, dprint fmt, prettier --write

feat: refactored the code
  packages/portal/src/routes/root/PortalPage/VersionPage/OperationContent/Playground/CreateCustomServerDialog.tsx
Due: echo, eslint --fix, dprint fmt, prettier --write

fixed nginx 2
  nginx/nginx.conf.template
Due: none

fixed nginx 3
  nginx/nginx.conf.template
Due: none

fixed nginx 4
  nginx/nginx.conf.template
Due: none

deploy: a2c4bd371fcd6c669af2aee3e12925269faf9600
  bugfix/version-of-ui-is-used/project.json
Due: echo, eslint --fix, dprint fmt, prettier --write

fixed nginx 5
  nginx/nginx.conf.template
Due: none

deploy: c99dfe3493c842435304da2f13ceb12a3ee575d0
  bugfix/version-of-ui-is-used/project.json
Due: echo, eslint --fix, dprint fmt, prettier --write

fixed nginx 6
  nginx/nginx.conf.template
Due: none

deploy: 32e06e27b137a15ae7720eb4eb36894c3ac28abf
  bugfix/version-of-ui-is-used/project.json
Due: echo, eslint --fix, dprint fmt, prettier --write

review(remove-editor): remove redundant KEEP.md
  packages/portal/KEEP.md
Due: echo, dprint fmt, prettier --write

deploy: 5e5a9b7393b162e391d8edb1aa04bf5ad4b47ec8
  feature/remove-editor/project.json
Due: echo, eslint --fix, dprint fmt, prettier --write

chore: set release version for dependencies
  package-lock.json
  package.json
Due: echo, eslint --fix, dprint fmt, prettier --write

chore: merge release 2.13.0 to develop
  lerna.json
  package-lock.json
  packages/agents/package.json
  packages/editor/package.json
  packages/portal/package.json
Due: echo, eslint --fix, dprint fmt, prettier --write
