Repository Netcracker/qubership-apihub-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: update of common files
  .editorconfig
  .gitattributes
Due: none

chore: update of common config files
  .github/auto-labeler-config.yaml
  .github/release-drafter-config.yml
Due: prettier --write

chore: [skip ci] update of superlinter config files
  .github/linters/.checkov.yaml
  .github/linters/.yaml-lint.yml
  .github/linters/actionlint.yml
  .github/super-linter.env
Due: prettier --write

chore: update of common workflows
  .github/workflows/cla.yaml
  .github/workflows/link-checker.yaml
  .github/workflows/pr-conventional-commits.yaml
  .github/workflows/pr-lint-title.yaml
  .github/workflows/profanity-filter.yaml
  .github/workflows/super-linter.yaml
Due: prettier --write

fix(publish dialog): preselection of Status and Labels field for republish attempt (#69)
  packages/portal/src/routes/root/PortalPage/CopyPackageVersionDialog.tsx
  packages/portal/src/routes/root/PortalPage/DashboardPage/PublishDashboardVersionFromCSVDialog.tsx
  packages/portal/src/routes/root/PortalPage/DashboardPage/PublishPackageVersionDialog.tsx
  packages/portal/src/routes/root/PortalPage/VersionPage/VersionOverviewSubPage/OperationGroupsCard/PublishOperationGroupPackageVersionDialog.tsx
  packages/shared/src/components/LabelsAutocomplete.tsx
  packages/shared/src/components/VersionDialogForm.tsx
Due: eslint --fix, prettier --write

feat(new auth): Avoid redundant attempt to refresh token if it was successful for default provider
  packages/shared/src/utils/requests.ts
  packages/shared/src/utils/security.ts
Due: eslint --fix, prettier --write

chore: fix version increment after release
  package-lock.json
  packages/agents/package.json
  packages/editor/package.json
  packages/portal/package.json
Due: eslint --fix, prettier --write

deploy: 918d870e1888066bc1dde89011aa248baf717ffe
  develop/project.json
Due: eslint --fix, prettier --write

[FE] Unneeded message while API operation page reload
  packages/portal/src/routes/root/PortalPage/VersionPage/OperationContent/OperationContent.tsx
  packages/portal/src/routes/root/PortalPage/VersionPage/useOperation.ts
Due: eslint --fix, prettier --write

fix: UI issue during navigation between compared operations (#80)
  packages/portal/src/routes/root/PortalPage/VersionPage/OperationContent/OperationContent.tsx
Due: eslint --fix, prettier --write

deploy: 21d9611c5f0370f796790673bf289654cbba355b
  develop/project.json
Due: eslint --fix, prettier --write

Added few changes according to the requirements
  packages/portal/src/routes/root/PortalPage/VersionPage/OperationContent/Playground/CreateCustomServerDialog.tsx
Due: eslint --fix, prettier --write

Added a delete custom logic
  packages/portal/src/routes/root/PortalPage/VersionPage/OperationContent/Playground/useCustomServersPackageMap.ts
Due: eslint --fix, prettier --write

build: split workflow on push and delete
  .github/workflows/ci-workflow.yml
  .github/workflows/delete-dist-tag.yaml
Due: prettier --write

feat(new auth): Added enforced stopping thread after redirection in auth error handler. Added detailed explanation of such solution
  packages/shared/src/components/NoIntegrationPlaceholder.tsx
  packages/shared/src/utils/security.ts
  packages/shared/src/utils/threads.ts
Due: eslint --fix, prettier --write

deploy: defa65d7b1111b965dea962ba4c5a8bfbd3f8557
  feature/saml-oidc/project.json
Due: eslint --fix, prettier --write

feat(new auth): Improved explanation for stopping thread after redirection
  packages/shared/src/utils/security.ts
Due: eslint --fix, prettier --write

deploy: b07bd85abec94ea407cbf036077873dc9ccd5ee4
  feature/saml-oidc/project.json
Due: eslint --fix, prettier --write

ready
  packages/portal/src/routes/root/PortalPage/VersionPage/useOperation.ts
Due: eslint --fix, prettier --write

chore: improving http caching
  nginx/nginx.conf.template
Due: none

fixe: [APIHUB][24.4][DAST][Input Validation] HTML Injection & Stored XSS in Manual Group Name paramete
  packages/portal/src/routes/root/PortalPage/usePublicationStatus.ts
  packages/portal/src/routes/root/PortalPage/usePublishOperationGroupPackageVersion.ts
  packages/shared/src/utils/packages-builder.ts
Due: eslint --fix, prettier --write

chore: update dependencies to dev versions
  package.json
Due: eslint --fix, prettier --write

chore: update dependencies to dev versions (#92)
  package.json
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,json}
  prettier --write: any of: *.{js,ts,tsx,json,html,md,yaml,yml}
